# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\86137\Desktop\实验一 软件配置管理\实验一 软件配置管理\艾斯医药商务管理系统源代码\Ascent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
